Import TuriCreate

In [1]:
import turicreate

Load Tabular Data Set

In [2]:

sf = turicreate.SFrame('people-example.csv')

Finished parsing file /Users/natashalballard/Dropbox/Python/MLCourse1/people-example.csv

Parsing completed. Parsed 7 lines in 0.025715 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/natashalballard/Dropbox/Python/MLCourse1/people-example.csv

Parsing completed. Parsed 7 lines in 0.004884 secs.

In [3]:
# To view all of dataset
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [ ]:
# To view or specify how many rows starting from the top

sf.head(4)

In [ ]:
# To view or specify how many rows starting from the bottom
sf.tail(4)

In [ ]:
# Displays visual of dataset within notebook
sf.show()

In [ ]:
#displays visual of the specified data only
sf['age'].show()

In [ ]:
# Returns dataset type, count of rows, and content of that column
sf['age']

In [ ]:
#Able to easily compute using dataset content 

sf['age'].mean()
# sf['age'].min()
# sf['age'].max()
# sf['age'].sum()

In [4]:
# Create A new column
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

# View updated dataset
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [12]:
# Computes using column's content w/o affecting the actual content
sf['age'] * 2

dtype: int
Rows: 7
[48, 46, 44, 46, 46, 44, 50]

In [13]:
sf  # For Testing Purposes

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [18]:
# Define function to find and replace within specified column
def renameCountry(country):
    if country == "USA":
        return "United States"
    else :
        return country

In [19]:
renameCountry("USA")   # For Testing Purposes

'United States'

In [24]:
# Apply the function to a specified row/column and return
sf['Country'].apply(renameCountry)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [25]:
# Apply the function to a specified row/column and update dataset
sf['Country'] = sf['Country'].apply(renameCountry)

In [26]:
sf   # For Testing Purposes

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]